body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: gray;
    color: #fff;
    padding: 10px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar {
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}
.navbar li a class:active{
    color: yellow;
}
.navbar a:hover {
    color: yellow;
}
.navbar a.active {
    
    color: yellow
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .navbar {
        display: none;
        flex-direction: column;
    }
    .navbar.active {
        display: flex;
    }
}
section img{
    width:100%;
    height:auto;
}

footer {
    background: gray;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    margin: 10px;
}

.footer-col h4 {
    margin-bottom: 10px;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
}

.footer-col a:hover {
    color: yellow;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Hidden by default */
    transition: background 0.3s;
}

.back-to-top:hover {
    background: yellow;
    color: #333;
}